:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --color-text-primary: black;
  --color-text-secondary: white;
  --color-background-primary: white;
  --color-scrollbar: #0d3a93;
  --color-accent-primary: #1d64c7;
  --color-accent-secondary: #4d6380;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-accent-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

.sidebar {
  width: 5rem;
  height: 100%;
  position: fixed;
  background-color: var(--color-accent-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-style: italic;
}

.navbar {
  margin-left: 5rem;
  padding: 0;
  height: 5rem;
  background-color: var(--color-accent-secondary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 5rem;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  width: 100%;
  padding-top: 2rem;
}

.nav-link {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.nav-link:hover {
  color: var(--color-text-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

#picture {
  max-width: 75%;
  padding-left: 5rem;
}

footer {
  margin-left: 5rem;
  padding: 3rem 1rem 3rem 1rem;
  background-color: var(--color-accent-secondary);
  color: var(--color-text-primary);
}